<a href="https://colab.research.google.com/github/Suhana3003/DSA_Prep/blob/main/DSA_Prep_Sorting%2C_Searching%2C_Arrays%2C_LinkedLists.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Searching Algorithms:
1. Linear Search:    Time Complexity: O(n)
2. Binary Search: Time Complexity: O(log n)

In [ ]:
def Linear_Search(lst, key) -> int:
    for index in range(len(lst)):
        if lst[index] == key:
            return index
    return -1

In [ ]:
Linear_Search([1,2,5,8,111,600,1001], 111)

4

In [ ]:
def Binary_Search(lst, key):
    left = 0
    right = len(lst) - 1
    while left <= right:
        mid = left + (right - left) // 2
        if lst[mid] == key:
            return mid
        elif lst[mid] < key:
            left = mid + 1
        else:
            right = mid - 1
    return -1

In [ ]:
Binary_Search([1,2,5,8,111,600,1001], 111)

4

# Question

Find two numbers that add up to  "sum" in the list given.

***logic 1:***
Time Complexity: O(n^2)

In [ ]:
def find_sum1(lst, sum):
    for element in lst:
        if sum - element in lst:
            return [element, sum - element]
    return []

In [ ]:
find_sum1([1,21,3,14,5,60,7,6], 81)

[21, 60]

***Logic 2:*** Time Complexity: O(nlogn)

In [ ]:
def find_sum2(lst, sum):
    lst = sorted(lst)
    for element in lst:
        if Binary_Search(lst, sum - element) != -1:
            return [element, lst[Binary_Search(lst, sum - element)]]
    return []

In [ ]:
find_sum2([1,21,3,14,5,60,7,6], 81)

[21, 60]

***Logic 3:*** Time Complexity: O(n)

In [ ]:
def find_sum3(lst, sum):
    found_values = set()
    for element in lst:
        if sum - element in found_values:
            return [element, sum - element]
        found_values.add(element)
    return []

In [ ]:
find_sum3([1,21,3,14,5,60,7,6], 81)

[60, 21]

# Sorting Algorithms

1. Selection Sort
2. Bubble Sort
3. Insertion Sort
4. Merge Sort
5. Quick Sort

6. Sleep Sort (fun activity)

## Sleep Sort

Each element of the list is made to sleep for that number of milliseconds. The first to wake up is the smallest element and the last to wake up is the largest element.

Time Complexity: O(N)

where N = largest number in the list.

In [ ]:
from time import sleep
from threading import Thread

In [ ]:
def routine(n, output):
    sleep(n)
    output.append(n)

In [ ]:
def sleep_sort(nums):
    threads = []
    output = []

    for num in nums:
        thread = Thread(target=routine, args=(num, output))
        thread.start()
        threads.append(thread)

    for thread in threads:
        thread.join()

    return output

In [ ]:
sleep_sort([3,2,5,1,4])

[1, 2, 3, 4, 5]

## Merge Sort

1. Divide the array into 2 equal parts
2. Sort both the parts recursively
3. Merge the two sorted arrays

Time Complexity: O(nlogn)

In [ ]:
def merge_sort(nums):
    n = len(nums)
    if n <= 1:
        return nums
    left = merge_sort(nums[:n // 2])
    right = merge_sort(nums[n // 2:])
    return merge(left, right)

In [ ]:
def merge(nums1, nums2):

    i1, i2, n1, n2 = 0, 0, len(nums1), len(nums2)
    answer = []
    while i1 < n1 and i2 < n2:
        if nums1[i1] < nums2[i2]:
            answer.append(nums1[i1])
            i1 += 1
        else:
            answer.append(nums2[i2])
            i2 += 1

    while i1 < n1:
        answer.append(nums1[i1])
        i1 += 1

    while i2 < n2:
        answer.append(nums2[i2])
        i2 += 1

    return answer

In [ ]:
merge_sort([2,5,3,1,4])

[1, 2, 3, 4, 5]

## Quick Sort

1. Choose a pivot index
2. Move all the elements smaller than the pivot to the left of pivot and all elemets larger than the pivot to the right of pivot
3. Sort the two halves of array recursively

Time Complexity: O(nlogn)

In [ ]:
def Partition(nums, left, right):
    pivot = nums[right]
    i = left - 1
    for j in range(left, right):
        if nums[j] <= pivot:
            i += 1
            nums[j], nums[i] = nums[i], nums[j]
    nums[i + 1], nums[right] = nums[right], nums[i + 1]
    return i + 1

In [ ]:
def Quick_Sort(nums, left, right):
    if left >= right:
        return
    pivot_index = Partition(nums, left, right)
    Quick_Sort(nums, left, pivot_index - 1)
    Quick_Sort(nums, pivot_index + 1, right)

In [ ]:
nums = [2,5,8,9,7,6,4,3,1]
Quick_Sort(nums, 0, len(nums) - 1)

In [ ]:
print(nums)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

# Questions
Search in rotated sorted array. There is an integer array nums sorted in ascending order. Given the array nums after the possible rotation and an integer target, return index of target if it is nums or -1 if it is not in nums.

Input: nums = [4,5,6,7,0,1,2]

target = 0


Output: 4

In [ ]:
def search(lst, key):
    left, right = 0, len(nums) - 1
    while left <= right:
        mid = left + (right - left) // 2
        if lst[mid] == key:
            return mid
        elif lst[mid] < key:
            if lst[left] <= key and lst[left] > lst[mid]:
                right = mid -1
            else:
                left = mid + 1
        else:
            if key <= lst[right] and lst[right] < lst[mid]:
                    left = mid + 1
            else:
                    right = mid - 1
    return -1

In [ ]:
search([4,5,6,7,0,1,2], 0)

4

Given a list of strings that contains anagrams, write a function to print pairs of those anagrams.

Input: A list of strings. Remember that spaces count as characters. So, " abc" and “cab” are technically not anagrams, since " abc" has spaces which “cab” does not.

Output
A list of lists where all pairs of anagrams grouped together

Sample input
input = [
    'tom marvolo riddle ',
    'abc',
    'def',
    'cab',
    'fed',
    'brag',
    'clint eastwood ',
    'i am lord voldemort',
    'elvis',
    'grab',
    'old west action',
    'lives'
  ]

Sample output
result = [['abc', 'cab'], ['clint eastwood ', 'old west action'], ['def', 'fed'], ['elvis', 'lives']]

In [ ]:
def print_anagram_pairs(strings):
    anagram_dict = {}

    for string in strings:
        # Remove spaces and sort the characters
        sorted_string = ''.join(sorted(string))

        # Add the string to the corresponding group in the dictionary
        if sorted_string in anagram_dict:
            anagram_dict[sorted_string].append(string)
        else:
            anagram_dict[sorted_string] = [string]

    # Create a list of lists with anagram pairs
    result = [value for value in anagram_dict.values() if len(value) > 1]

    return result

In [ ]:
print_anagram_pairs([ 'tom marvolo riddle ', 'abc', 'def', 'cab', 'fed', 'brag', 'clint eastwood ', 'i am lord voldemort', 'elvis', 'grab', 'old west action', 'lives' ]) # O(nlogn)

[['tom marvolo riddle ', 'i am lord voldemort'],
 ['abc', 'cab'],
 ['def', 'fed'],
 ['brag', 'grab'],
 ['clint eastwood ', 'old west action'],
 ['elvis', 'lives']]

Given a list of integers, find all the duplicates that exist in that list.

Input:
A list of duplicate integers

Note: All the integers are less than the size of the list.

Output:
A list with the duplicates if they exist, and an empty list if they don’t

Sample input

lst = [1, 3, 1, 3, 5, 1, 4, 7, 7]

Sample output

result = [1, 3, 7]

In [ ]:
def duplicates(lst):
    answer = []
    count = {}
    for num in lst:
        if num not in count:
            count[num] = 1
        else:
            count[num] += 1
    for num in lst:
        if count[num] > 1 and num not in answer:
            answer.append(num)
    return answer

In [ ]:
duplicates([1,3,1,3,5,1,4,7,7]) # O(n)

[1, 3, 7]

Given a sorted list and a target value, return the index of the target value if the value is present in the list. If the value is not present, return the index at which the value should be inserted.

You may assume that no duplicates are in the list.

Input:
A sorted list and a target value

Output:
The index at which the list should be inserted OR the index at which it is already present

Sample input

lst = [1, 3, 5, 6]

value = 5

Sample output =
2

In [ ]:
def search_insertion_index(lst, key):
    left = 0
    right = len(lst) - 1
    while left <= right:
        mid = left + (right - left) // 2
        if lst[mid] == key:
            return mid
        elif lst[mid] < key:
            left = mid + 1
        else:
            right = mid - 1
    return left

In [ ]:
search_insertion_index([1,3,5,6], 7)   # O(logn)

4

Implement a function that sorts an array of
0​′​​s,
1​′​​s and
2​′​​s. This is called the Dutch National Problem. Since the number
O can be represented as the blue color,
1 as the white color, and
2 as the red color, we want the array to form the Dutch flag.

Try solving this problem inplace and in linear time without using any extra space!

Input:
An array of
0​′​​s,
1​′​​s and
2​′​​s

Output:
An array where the numbers
0,
1, and
2 are sorted.

Sample Input

arr = {2, 0, 0, 1, 2, 1, 0}

Sample Output

0 0 0 1 1 2 2

In [ ]:
def Dutch_National_Problem(lst):
    return [0] * lst.count(0) + [1] * lst.count(1) + [2] * lst.count(2)

In [ ]:
Dutch_National_Problem([2,0,0,1,2,1,0]) # O(n)

[0, 0, 0, 1, 1, 2, 2]

# Arrays: Questions

Problem Statement #

Implement a function that merges two sorted lists of m and n elements respectively, into another sorted list. Name it merge_lists(lst1, lst2)


Input #

Two sorted lists.

Output #

A merged and sorted list consisting of all elements of both input lists.

Sample Input #

lst1 = [1, 3, 4, 5]

lst2 = [2, 6, 7, 8]

Sample Output #

lst = [1, 2, 3, 4, 5, 6, 7, 8]

In [ ]:
def merge_lists(nums1, nums2):
    i1, i2, n1, n2 = 0, 0, len(nums1), len(nums2)
    answer = []
    while i1 < n1 and i2 < n2:
        if nums1[i1] < nums2[i2]:
            answer.append(nums1[i1])
            i1 += 1
        else:
            answer.append(nums2[i2])
            i2 += 1

    while i1 < n1:
        answer.append(nums1[i1])
        i1 += 1

    while i2 < n2:
        answer.append(nums2[i2])
        i2 += 1

    return answer

In [ ]:
merge_lists([1,3,4,5],[2,6,7,8]) # O(n)

[1, 2, 3, 4, 5, 6, 7, 8]

In this problem, you have to implement the find_sum(lst, k) function which will take a number k as input and return two numbers that add up to k.

Input #

A list and a number k

Output#

A list with two integers a and b that add up to k, else False.


Sample Input#

lst = [1, 21, 3, 14, 5, 60, 7, 6]

k = 27

Sample Output#

lst = [21, 6] or [6, 21]

In [ ]:
def find_sum(lst, k):
    found_val = set()
    for num in lst:
        if k - num in found_val:
            return [num, k - num]
        found_val.add(num)

In [ ]:
find_sum([1,21,3,14,5,60,7,6],27) # O(n)

[6, 21]

Implement a function, find_product(lst) , which modifies a list so that each index has a product of all the numbers present in the list except the number stored at that index.

Input#

A list of numbers (could be floating points or integers)

Output#
A list such that each index has a product of all the numbers in the list except the number stored at that index.

Sample Input#

lst = [1, 2, 3, 4]

Sample Output#

lst = [24, 12, 8, 6]

In [ ]:
def find_product(lst):
    n = len(lst)
    left_product = [1] * n
    right_product = [1] * n
    result = [1] * n

    # Calculate the product of all numbers to the left of each index
    for i in range(1, n):
        left_product[i] = left_product[i - 1] * lst[i - 1]

    # Calculate the product of all numbers to the right of each index
    for i in range(n - 2, -1, -1):
        right_product[i] = right_product[i + 1] * lst[i + 1]

    # Multiply left and right products to get the final result
    for i in range(n):
        result[i] = left_product[i] * right_product[i]

    return result

In [ ]:
find_product([1,2,3,4]) # O(n)

[24, 12, 8, 6]

Implement a function find_first_unique that returns the first unique integer in the list.

Input #

List of integers

Output #

The first unique element in the list or -1

Sample Input #

lst = [9, 2, 3, 2, 6, 6]

Sample Output #

9

In [ ]:
def find_first_unique(lst):
    count = {}
    for num in lst:
        if num in count:
            count[num] += 1
        else:
            count[num] = 1
    for num in lst:
        if count[num] == 1:
            return num
    return -1

In [ ]:
find_first_unique([9,2,3,2,6,6]) # O(n)

9

Implement a function find_second_maximum(lst) which returns the second largest element in the list.

Input #

A list of integers

Output #

Second largest element in the list.

Sample Input #

lst = [9, 2, 3, 6]

Sample Output #

6

In [ ]:
def find_second_maximum(lst):
    if len(lst) < 2:
        return None

    max1 = max(lst[0], lst[1])
    max2 = min(lst[0], lst[1])

    for num in lst[2:]:
        if num > max1:
            max2 = max1
            max1 = num
        elif num > max2 and num != max1:
            max2 = num

    return max2

In [ ]:
lst = [9, 2, 3, 6]
second_maximum = find_second_maximum(lst)
print(second_maximum) # O(n)

6

Implement a function right_rotate(lst, k) which will rotate the given list by k. This means that the right-most elements will appear at the left-most position in the list and so on. You only have to rotate the list by one element at a time.

Input #


A list and a positive number by which to rotate that list

Output #

Given list rotated by k element from right to left

Sample Input #

lst = [1, 2, 3, 4, 5]

Sample Output #

lst = [5, 1, 2, 3, 4]

In [ ]:
def right_rotate(lst, k):
    return (lst[:-k - 1:-1])[::-1]+ lst[:-k:]

In [ ]:
right_rotate([1,2,3,4,5],1)

[5, 1, 2, 3, 4]

# Linked Lists

In [ ]:
class Node:
    def __init__(self, data):
        self.data = data
        self.next_element = None

In [ ]:
class LinkedLists:
    def __init__(self):
        self.head_node = None

To check if the Linked List is empty:

In [ ]:
class LinkedLists:
    def __init__(self):
        self.head_node = None

    def is_empty(self):
        return self.head_node is None

Insertion at head

In [ ]:
class LinkedLists:
    def __init__(self):
        self.head_node = None

    def is_empty(self):
        return self.head_node is None

    def insert_at_head(self, val):
        temp = Node(val)
        temp.next_element = self.head_node
        self.head_node = temp

Print the Linked List

In [ ]:
class LinkedLists:
    def __init__(self):
        self.head_node = None

    def is_empty(self):
        return self.head_node is None

    def insert_at_head(self, val):
        temp = Node(val)
        temp.next_element = self.head_node
        self.head_node = temp

    def PrintLList(self):
        temp = self.head_node
        while temp:
            print(str(temp.data) + "->", end = " ")
            temp = temp.next_element
        print(None)
        return

In [ ]:
linkedlist = LinkedLists()
limit = 10
for i in range(limit):
    linkedlist.insert_at_head(i)
linkedlist.PrintLList()

9-> 8-> 7-> 6-> 5-> 4-> 3-> 2-> 1-> 0-> None

Delete at head

In [ ]:
class LinkedLists:
    def __init__(self):
        self.head_node = None

    def is_empty(self):
        return self.head_node is None

    def insert_at_head(self, val):
        temp = Node(val)
        temp.next_element = self.head_node
        self.head_node = temp

    def PrintLList(self):
        temp = self.head_node
        while temp:
            print(str(temp.data) + "->", end = " ")
            temp = temp.next_element
        print(None)
        return

    def del_at_head(self):
        temp = self.head_node
        self.head_node = temp.next_element
        del temp

In [ ]:
linkedlist = LinkedLists()
limit = 10
for i in range(limit):
    linkedlist.insert_at_head(i)
linkedlist.del_at_head()
linkedlist.PrintLList()

8-> 7-> 6-> 5-> 4-> 3-> 2-> 1-> 0-> None

Deletion by Value

In [ ]:
class LinkedLists:
    def __init__(self):
        self.head_node = None

    def is_empty(self):
        return self.head_node is None

    def insert_at_head(self, val):
        temp = Node(val)
        temp.next_element = self.head_node
        self.head_node = temp

    def PrintLList(self):
        temp = self.head_node
        while temp:
            print(str(temp.data) + "->", end = " ")
            temp = temp.next_element
        print(None)
        return

    def del_at_head(self):
        temp = self.head_node
        self.head_node = temp.next_element
        del temp

    def del_by_val(self, val):
        temp = self.head_node
        if (temp is not None):
            if (temp.data == val):
                self.del_at_head()
        while temp:
            if temp.data == val:
                break
            prev = temp
            temp = temp.next_element
        if(temp == None):
            return
        prev.next_next_element = temp.next_element
        temp = None
        return

In [ ]:
linkedlist = LinkedLists()
limit = 10
for i in range(limit):
    linkedlist.insert_at_head(i)
linkedlist.del_by_val(5)
linkedlist.PrintLList()

9-> 8-> 7-> 6-> 5-> 4-> 3-> 2-> 1-> 0-> None

Search in linked list

In [ ]:
class LinkedLists:
    def __init__(self):
        self.head_node = None

    def is_empty(self):
        return self.head_node is None

    def insert_at_head(self, val):
        temp = Node(val)
        temp.next_element = self.head_node
        self.head_node = temp

    def PrintLList(self):
        temp = self.head_node
        while temp:
            print(str(temp.data) + "->", end = " ")
            temp = temp.next_element
        print(None)
        return

    def del_at_head(self):
        temp = self.head_node
        self.head_node = temp.next_element
        del temp

    def del_by_val(self, val):
        temp = self.head_node
        if (temp is not None):
            if (temp.data == val):
                self.del_at_head()
        while temp:
            if temp.data == val:
                break
            prev = temp
            temp = temp.next_element
        if(temp == None):
            return
        prev.next_next_element = temp.next_element
        temp = None
        return

    def search(self, val):
        temp = self.head_node
        while temp:
            if temp.data == val:
                return True
            temp = temp.next_element
        return False

In [ ]:
linkedlist = LinkedLists()
limit = 10
for i in range(limit):
    linkedlist.insert_at_head(i)
linkedlist.search(5)

True

Doubly Linked Lists

In [ ]:
class Node:
    def __init__(self, data):
        self.data = data
        self.next_element = None
        self.prev_element = None

In [ ]:
class DoublyLinkedLists:
    def __init__(self):
        self.head_node = None

    def is_empty(self):
        return self.head_node is None

    def insert_at_head(self, data):
        new_node = Node(data)
        if self.head_node is not None:
            self.head_node.prev_element = new_node
        new_node.next_element = self.head_node
        self.head_node = new_node

    def PrintLList(self):
        temp = self.head_node
        while temp:
            print(str(temp.data) + "->", end = " ")
            temp = temp.next_element
        print(None)
        return

    def del_at_head(self):
        temp = self.head_node
        self.head_node = temp.next_element
        temp.prev_element = None
        del temp

    def del_by_val(self, val):
        temp = self.head_node
        if (temp is not None):
            if (temp.data == val):
                self.del_at_head()
        while temp:
            if temp.data == val:
                break
            prev = temp
            temp = temp.next_element
        if(temp == None):
            return
        prev.next_next_element = temp.next_element
        temp = None
        return

    def search(self, val):
        temp = self.head_node
        while temp:
            if temp.data == val:
                return True
            temp = temp.next_element
        return False

In [ ]:
linkedlist = DoublyLinkedLists()
limit = 10
for i in range(limit):
    linkedlist.insert_at_head(i)
linkedlist.PrintLList()

9-> 8-> 7-> 6-> 5-> 4-> 3-> 2-> 1-> 0-> None

## Questions

Reverse a Linked List

In [ ]:
class LinkedLists:
    def __init__(self):
        self.head_node = None

    def is_empty(self):
        return self.head_node is None

    def insert_at_head(self, val):
        temp = Node(val)
        temp.next_element = self.head_node
        self.head_node = temp

    def PrintLList(self):
        temp = self.head_node
        while temp:
            print(str(temp.data) + "->", end = " ")
            temp = temp.next_element
        print(None)
        return

    def insert_at_tail(self, val):
        new_node = Node(val)
        if self.head_node is None:
            self.head_node = new_node
        else:
            temp = self.head_node
            while temp.next_element:
                temp = temp.next_element
            temp.next_element = new_node
            new_node.prev_element = temp
            new_node.next_element = None

In [ ]:
linkedlist = LinkedLists()
limit = 10
for i in range(limit):
    linkedlist.insert_at_tail(i)
linkedlist.PrintLList()

0-> 1-> 2-> 3-> 4-> 5-> 6-> 7-> 8-> 9-> None

In [ ]:
def reverse(llist):
    new_llist = LinkedLists()
    temp = llist.head_node
    while temp:
        new_llist.insert_at_head(temp.data)
        temp = temp.next_element
    return new_llist.PrintLList()

In [ ]:
linkedlist = LinkedLists()
limit = 10
for i in range(limit):
    linkedlist.insert_at_tail(i)
linkedlist.PrintLList()
reverse(linkedlist)

0-> 1-> 2-> 3-> 4-> 5-> 6-> 7-> 8-> 9-> None
9-> 8-> 7-> 6-> 5-> 4-> 3-> 2-> 1-> 0-> None

Detect a loop in a linked list

In [ ]:
def detect_loop(llist):
    slow = llist.head_node
    fast = llist.head_node
    while slow and fast and fast.next_element:
        slow = slow.next_element
        fast = fast.next_element.next_element
        if slow == fast:
            return True
    return False

In [ ]:
lst = LinkedLists()

lst.insert_at_head(21)
lst.insert_at_head(14)
lst.insert_at_head(7)

# Adding a loop
head = lst.head_node
node = lst.head_node

for i in range(4):
    if node.next_element is None:
        node.next_element = head.next_element
        break
    node = node.next_element
print(detect_loop(lst))

True

Calculate length of Linked List

In [ ]:
def length(llist):
    temp = llist.head_node
    count = 0
    while temp:
        count += 1
        temp = temp.next_element
    return count

In [ ]:
linkedlist = LinkedLists()
limit = 10
for i in range(limit):
    linkedlist.insert_at_tail(i)
linkedlist.PrintLList()
length(linkedlist)

0-> 1-> 2-> 3-> 4-> 5-> 6-> 7-> 8-> 9-> None

10

Implement the find_mid() function which will take a linked list as an input and return the value of the middle node.

If the length of the list is even, the middle value will occur at
​​. For a list of odd length, the middle value will be ​​length / 2 ​​+ 1.

Input:

A singly linked list.

Output:

Integer value of middle node of the linked list.

Sample Input:

linkedlist = 7->14->10->21

Sample Output:

14

In [ ]:
def find_mid(lst):
    temp = temp2 = lst.head_node
    count = 0
    count2 = 0
    while temp:
        count += 1
        temp = temp.next_element
    mid = (count + 1) // 2
    while temp2:
        count2 += 1
        if count2 == mid:
            return temp2.data
        temp2 = temp2.next_element

In [ ]:
lst = LinkedLists()
lst.insert_at_head(22)
lst.insert_at_head(21)
lst.insert_at_head(10)
lst.insert_at_head(14)
lst.insert_at_head(7)

print(find_mid(lst))

10

Implement the remove_duplicates() function where a linked list is passed to this function, it removes any node which is a duplicate of another existing node.

Input:

A linked list.

Output:

A linked list with all the duplicates removed.

Sample Input:

linkedlist = 2->3->5->3->4->3

Sample Output:

linkedlist = 2->3->5->4

In [ ]:
def remove_duplicates(llist):
    found_val = set()
    temp = llist.head_node
    prev = None

    while temp:
        if temp.data in found_val:
            prev.next_element = temp.next_element
        else:
            found_val.add(temp.data)
            prev = temp
        temp = temp.next_element

In [ ]:
lst = LinkedLists()
lst.insert_at_head(7)
lst.insert_at_head(7)
lst.insert_at_head(7)
lst.insert_at_head(22)
lst.insert_at_head(14)
lst.insert_at_head(21)
lst.insert_at_head(14)
lst.insert_at_head(7)

remove_duplicates(lst)
lst.PrintLList()

7-> 14-> 21-> 22-> None

Union and intersection are two of the most popular operations which can be performed on data sets. Now, you will be implementing them for linked lists! Let’s take a look at their definitions

Union:

Given two lists, A and B, the union is the list that contains elements or objects that belong to either A, B, or to both.

Intersection:

Given two lists, A and B, the intersection is the largest list which contains all the elements that are common to both the sets.

The union function will take two linked lists and return their union.

The intersection function will return all the elements that are common between two linked lists.

Input:
Two linked lists.

Output:

A list containing the union of two lists.

A list containing the intersection of two lists.


Sample Input:

linkedlist1 = 10->20->80->60

linkedlist2 = 15->20->30->60->45

Sample Output:

union = 10->20->80->60->15->30->45

intersection = 20->60

In [ ]:
def union(lst1, lst2):
    newlst = LinkedLists()
    temp1 = lst1.head_node
    temp2 = lst2.head_node

    while temp1:
        newlst.insert_at_tail(temp1.data)
        temp1 = temp1.next_element

    while temp2:
        newlst.insert_at_tail(temp2.data)
        temp2 = temp2.next_element

    return newlst

In [ ]:
ulist1 = LinkedLists()
ulist2 = LinkedLists()

ulist1.insert_at_head(8)
ulist1.insert_at_head(22)
ulist1.insert_at_head(15)

ulist2.insert_at_head(21)
ulist2.insert_at_head(14)
ulist2.insert_at_head(7)
new_list = union(ulist1,ulist2)
new_list.PrintLList()

15-> 22-> 8-> 7-> 14-> 21-> None

In [ ]:
def intersection(lst1, lst2):
    intersection_list = LinkedLists()
    temp1 = lst1.head_node

    while temp1:
        if lst2.search(temp1.data):
            intersection_list.insert_at_head(temp1.data)
        temp1 = temp1.next_element

    return intersection_list

In [ ]:
ilist1 = LinkedLists()
ilist2 = LinkedLists()

ilist1.insert_at_head(14)
ilist1.insert_at_head(22)
ilist1.insert_at_head(15)

ilist2.insert_at_head(21)
ilist2.insert_at_head(14)
ilist2.insert_at_head(15)

lst = intersection(ilist1, ilist2)
lst.PrintLList()

14-> 15-> None